<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="row">
        <div class="col-12 bg-primary text-light text-center pt-4 pb-4">
            <h3 class="color-dark">My Team</h3>
        </div>
    </div>
<div class="container bg-light mt-2">
    <div class="row">
       


            <div class="col-sm-3">
            <div class="card m-2 p-2">
                <h3 class="card-header bg-dark text-white text-center">Alex</h3>

                <div class="card-body bg-light">
                  <h5 class="card-title text-center">Manager</h5>
                  <p class="card-text">
                    ID: 12345
                  </p>
                  <p class="card-text">
                    email: asd@asjd 
                  </p>
                  <p class="card-text">
                    office number: 911
                  </p>
                  <p class="card-text">
                    Something Else
                  </p>
                </div>
            </div>
            </div>


            <div class="col-sm-3">
                <div class="card m-2 p-2">
                    <h3 class="card-header bg-success text-white">Tom</h3>
    
                    <div class="card-body bg-light">
                      <h4 class="card-title">Enginner</h4>
                      <p class="card-text">
                        ID: 12345
                      </p>
                      <p class="card-text">
                        email: asd@asjd 
                      </p>
                      <p class="card-text">
                        office number: 911
                      </p>
                      <p class="card-text">
                        Something Else
                      </p>
                    </div>
                </div>
                </div>

                <div class="col-sm-3">
                    <div class="card m-2 p-2">
                        <h3 class="card-header bg-success text-white">Ana</h3>
        
                        <div class="card-body bg-light">
                          <h4 class="card-title">Engineer</h4>
                          <p class="card-text">
                            ID: 12345
                          </p>
                          <p class="card-text">
                            email: asd@asjd 
                          </p>
                          <p class="card-text">
                            office number: 911
                          </p>
                          <p class="card-text">
                            Something Else
                          </p>
                        </div>
                    </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="card m-2 p-2">
                            <h3 class="card-header bg-danger text-white">Sven</h3>
            
                            <div class="card-body bg-light">
                              <h4 class="card-title">Intern</h4>
                              <p class="card-text">
                                ID: 12345
                              </p>
                              <p class="card-text">
                                email: asd@asjd 
                              </p>
                              <p class="card-text">
                                office number: 911
                              </p>
                              <p class="card-text">
                                Something Else
                              </p>
                            </div>
                        </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="card m-2 p-2">
                                <h3 class="card-header bg-danger text-white">Melania</h3>
                
                                <div class="card-body bg-light">
                                  <h4 class="card-title">Intern</h4>
                                  <p class="card-text">
                                    ID: 12345
                                  </p>
                                  <p class="card-text">
                                    email: asd@asjd 
                                  </p>
                                  <p class="card-text">
                                    office number: 911
                                  </p>
                                  <p class="card-text">
                                    Something Else
                                  </p>
                                </div>
                            </div>
                            </div>
    </div>

</div>
    
</body>
</html>